<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Page Title</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
 
</head>
<body>
  <div class="container">
    <mat-card>
      <h1>Palendrome</h1>
      <form class="example-form" [formGroup]="myForm">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Word Check</mat-label>
          <input id="value" matInput placeholder="Mom" formControlName="value">
        </mat-form-field>
        <div class="btns">
          <button mat-raised-button color="primary" (click)="check()">Primary</button>
        </div>
      </form>  
    </mat-card>
  </div>
  
</body>
</html>